*__pycache__/knowledge_graph.cpython-39.pyc
.ipynb_checkpoints
.DS_Store
data/14_graph.nt
data/imdb-top-250.t
data/plots.csv
demo.ipynb
demo.ipynb

chatbot/knowledge_graph/__pycache__/knowledge_graph.cpython-39.pyc
